// setting
$main: #a32c2d;
$white: #fff;

.shopInfo {
  .title {
    margin-top: 14px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;

    .icon {
      margin-left: 14px;
      color: $main;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .comment {
    margin-left: 14px;
    border: none;
    background-color: transparent;
    color: #a32c2d;
  }

  .icon,
  .span {
    margin-right: 10px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 24px;
  outline: none;
  padding: 60px;

  .bigStar {
    font-size: 24px;
  }
  .star {
    color: $main;
  }

  .btnDiv {
    width: 24rem;
    margin-top: 14px;

    .searchBtn {
      margin-bottom: 7px;
      padding: 4px 14px;
      border: 1px solid $main;
      background-color: transparent;
      &:not(:last-child) {
        margin-right: 7px;
      }
    }
  }

  .userComment {
    padding: 14px;
    margin-top: 14px;
    border-radius: 10px;
    border: 1px solid #e5e1dd;

    .titleInfo {
      border: 1px solid #000;
    }

    .avatar {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(7, 5, 5, 0.4);
}
