$black: #070505;
$primary: rgb(163, 44, 45);
$secondary: rgb(225, 209, 178);
$success: rgb(41, 162, 30);
$warning: rgb(255, 201, 64);
$danger: rgb(255, 1, 1);
$light-primary: rgb(234, 105, 106);
$deep-primary: rgb(98, 27, 27);
$deep-gray: rgb(183, 180, 177);
$gray: rgb(229, 225, 221);

@import '~bootstrap/scss/bootstrap';

.kv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    color: $primary;
    text-shadow: 0px 0px 20px #fff;
    font-size: 44px;
    font-weight: 700;
  }
  .search-item {
    .nav {
      text-align: center;
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-link {
        background-color: #fff;
        border-bottom: 1px solid $primary;
        font-size: 16px;
        font-weight: 700;
        width: 140px;
        padding: 10px 20px;
      }
      .nav-link.active {
        background-color: $primary;
        border: none;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
      }
    }
  }
  .search-bar {
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
    border: 2px solid $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;

    button {
      font-size: 16px;
      font-weight: 700;
      width: 100px;
    }
    form {
      width: 100%;
      justify-content: center;
      align-items: center;
      input {
        border: none;
      }
      :focus {
        border: none;
        box-shadow: none;
      }
    }
    .search-icon {
      padding-right: 40px;
      padding-left: 10px;
    }
  }
  .fa-sistrix {
    color: $primary;
    font-size: 25px;
  }
}
.section-index {
  position: relative;
  .index-title {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    color: $secondary;
    padding: 15px 0px;
    width: 200px;
    text-align: center;
    background-color: $primary;
    border-radius: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
  }
}
