.card {
  width: 170px;
  .imageContainer {
    width: 100%;
    height: 100px;
    margin-bottom: 4px;
    background-color: #e5e1dd;
    border-radius: 30px;
    overflow: hidden;

    .image {
      width: 280px;
      position: relative;
    }
  }

  .title {
    text-align: center;
    margin: 0;
  }
}
