.quantity {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  gap: 1px;
  button {
    @media (max-width: 992px) {
      height: 30px;
      width: 30px;
    }
    height: 30px;
    width: 30px;
    border: none;
    background-color: #fff;
    color: #a32c2d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input {
    @media (max-width: 992px) {
      height: 30px;
      width: 50px;
    }
    height: 30px;
    width: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #a32c2d;
    border: none;
    text-align: center;
    background-color: #fff;
  }
  :focus {
    border: none;
  }
}

.container {
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24);
  border-radius: 20px;

  .cartItems {
    min-height: 16rem;
    @media (min-width: 1441px) {
      min-height: 24rem;
    }
    .product {
      margin-bottom: 14px;
      .cartItemImage {
        width: 74px;
        height: 74px;
        margin-right: 14px;
        border-radius: 10px;
        object-fit: cover;
      }
      .removeItem {
        margin-top: 14px;
        margin-left: 20px;
        color: #a32c2d;
        cursor: pointer;
      }
    }
  }
  // empty cart
  .iconandtext {
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    @media (min-width: 1441px) {
      min-height: 24rem;
    }
    .icon {
      font-size: 100px;
      color: #a32c2d;
    }
  }
  .summaryandbutton {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .summary {
      display: flex;
      justify-content: space-between;
    }
  }
}
