.cart {
  padding: 26px 14px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24);
  border-radius: 20px;

  .icon {
    font-size: 100px;
    color: #a32c2d;
  }
}
