.productCard2 {
  margin-bottom: 14px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  @media (max-width: 576px) {
    min-width: 20rem;
  }

  .text {
    padding: 14px 0 14px 14px;

    .title {
      .icon {
        margin-top: 2px;
        margin-left: 4px;
        color: #a32c2d;
        cursor: pointer;
      }
    }

    .price {
      margin-right: 24px;
    }

    .icon {
      margin-right: 4px;
    }

    .p {
      margin-top: 7px;
      color: #b1b7b5;
    }
  }

  .img {
    width: 120px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
  }

  .addBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
