.productCard2 {
  margin-bottom: 14px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  @media (max-width: 576px) {
    min-width: 20rem;
  }

  .text {
    padding: 14px 0 14px 14px;

    .titleDiv {
      .icon {
        margin-top: 2px;
        margin-left: 4px;
        color: #a32c2d;
        cursor: pointer;
      }
    }

    .price {
      margin-right: 24px;
    }

    .icon {
      margin-right: 4px;
    }

    .p {
      margin-top: 7px;
      color: #b1b7b5;
      @media (max-width: 576px) {
        width: 150px;
      }
    }
  }

  .imgDiv {
    width: 120px;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p {
      display: none;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
      transition: all 0.5s ease;
    }

    &:hover {
      &::before {
        background-color: rgba(0, 0, 0, 0.2);
      }
      p {
        display: block;
        position: absolute;
        top: 35%;
        left: 18%;
        color: #fff;
      }
    }
  }

  .addBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal {
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 24px;
  outline: none;
  overflow: visible;
}

.close {
  color: #a32c2d;
  font-size: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(7, 5, 5, 0.4);
}
