// // 全站配色 colors
$black: #070505;
$primary: rgb(163, 44, 45);
$secondary: rgb(225, 209, 178);
$success: rgb(41, 162, 30);
$warning: rgb(255, 201, 64);
$danger: rgb(255, 1, 1);
$light-primary: rgb(234, 105, 106);
$deep-primary: rgb(98, 27, 27);
$deep-gray: rgb(183, 180, 177);
$gray: rgb(229, 225, 221);

@import '~bootstrap/scss/bootstrap';

.game-select-page {
  @media (max-width: 992px) {
    border: $primary solid 10px;
    border-top: none;
    border-radius: 30px 30px 0px 0px;
    padding: 20px 20px 60px 20px;
    margin-top: 0px;
    // height: 100vh;
    box-shadow: none;
  }
  margin-top: -20px;
  background-image: url(/images/game/game-start-bgc.png);
  box-shadow: 0px 0px 0px 10px #fff inset;
  background-size: cover;
  border-radius: 70px 70px 0px 0px;
  border: $primary solid 20px;
  padding: 80px 80px 150px 80px;
  // height: 100vh;
  width: 100%;
  .select-content {
    @media (max-width: 992px) {
      gap: 50px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    gap: 70px;
    .game-title {
      @media (max-width: 992px) {
        width: initial;
        gap: 15px;
      }
      display: flex;
      width: 800px;
      justify-content: space-between;
      align-items: center;
      .game-text {
        @media (max-width: 992px) {
          font-size: 48px;
        }
        font-family: 'Kaisei Tokumin';
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #fff;
      }
    }
    .form-select {
      @media (max-width: 992px) {
        width: 240px;
        font-size: 24px;
        text-align: start;
      }
      border: none;
      color: $primary;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      width: 450px;
      --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 21'%3e%3cpath fill='none' stroke='%23A32C2D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.5 1.75L11.5 19.25L21.5 1.75'/%3e%3c/svg%3e");
    }
    .btn {
      @media (max-width: 992px) {
        width: initial;
        height: initial;
        font-size: 18px;
        padding: 10px 45px;
      }
      width: 270px;
      height: 62px;
      font-family: 'Noto Sans';
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      box-shadow: 0px 0px 20px 0px #fff;
    }
  }
}
// google Noto Sans TC 字體
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap';

@import 'https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap';

// 定義中文字體用
body {
  font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans TC Regular',
    'Kaisei Tokumin', Helvetica, Arial, 'PingFang TC', '苹方-繁', 'Heiti TC',
    '黑體-繁', 'Microsoft JhengHei',
    '微軟正黑體'
      // // Cross-platform generic font family (default user interface font)
    // system-ui,
    // // Safari for macOS and iOS (San Francisco)
    // -apple-system,
    // // Windows
    // 'Segoe UI',
    // // Android
    // Roboto,
    // // Basic web fallback
    // 'Helvetica Neue',
    // Arial,
    // // Linux
    // 'Noto Sans',
    // 'Liberation Sans',
    // // Sans serif fallback
    // sans-serif,
    // // Emoji fonts
    // 'Apple Color Emoji',
    // 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
;
}
