// 全站配色 colors
// 引入變數使用
@import 'variable';

@import '~bootstrap/scss/bootstrap';

.game-select-page {
  @media (max-width: 992px) {
    border: $primary solid 10px;
    border-top: none;
    border-radius: 30px 30px 0px 0px;
    padding: 20px 20px 60px 20px;
    margin-top: 0px;
    height: 78vh;
    background-position-y: 0px;
  }
  background-image: url(/images/game/game-start-bgc.png);
  background-size: cover;
  background-position-y: -90px;

  border-radius: 70px 70px 0px 0px;
  border: $primary solid 20px;
  padding: 80px 80px 150px 80px;
  width: 100%;
  border-top: none;
  .select-content {
    @media (max-width: 992px) {
      gap: 50px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    gap: 70px;
    .game-title {
      @media (max-width: 992px) {
        width: initial;
        gap: 15px;
      }
      display: flex;
      width: 800px;
      justify-content: space-between;
      align-items: center;
      .game-text {
        @media (max-width: 992px) {
          font-size: 48px;
        }
        font-family: 'Kaisei Tokumin';
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #fff;
      }
    }
    .form-select {
      @media (max-width: 992px) {
        width: 240px;
        font-size: 24px;
        text-align: start;
      }
      border: none;
      color: $primary;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      width: 450px;
      --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 21'%3e%3cpath fill='none' stroke='%23A32C2D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.5 1.75L11.5 19.25L21.5 1.75'/%3e%3c/svg%3e");
    }
    .btn {
      @media (max-width: 992px) {
        width: initial;
        height: initial;
        font-size: 18px;
        padding: 10px 45px;
      }
      width: 270px;
      height: 62px;
      font-family: 'Noto Sans';
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      box-shadow: 0px 0px 20px 0px #fff;
    }
  }
}

// GamePlay頁面
// .section {
//   overflow: hidden;
// }
.game-play-page {
  @media (max-width: 992px) {
    border: $primary solid 10px;
    border-top: none;
    border-radius: 30px 30px 0px 0px;
    padding: 0px;
    margin-top: 0px;
    height: 91vh;
  }
  background: linear-gradient(
      0deg,
      rgba(225, 209, 178, 0.8) 0%,
      rgba(225, 209, 178, 0.8) 100%
    ),
    url(../public/images/layout/bgc.jpg), lightgray 50%;
  border-radius: 70px 70px 0px 0px;
  border: $primary solid 20px;
  padding: 80px 80px 150px 80px;
  width: 100%;
  height: 100vh;
  position: relative;
  border-top: none;
  overflow: hidden;

  .black-mode.black-show {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
  }
  .chara-group {
    @media (max-width: 992px) {
      top: 0;
      left: 0;
    }
    position: absolute;
    top: -20px;
    left: 60px;
    height: 100%;
    width: 100%;
    z-index: 1;

    .character {
      @media (max-width: 992px) {
        bottom: 0;
        left: 0;
        height: 40%;
      }
      position: absolute;
      bottom: -150px;
      left: 8%;
      height: 60%;
      width: 100%;
      overflow: hidden;
      .character-obj {
        @media (max-width: 992px) {
          width: 50%;
        }
        width: 300px;
        transform: scaleX(-1);
        position: absolute;
      }
    }
    .talk-group {
      @media (max-width: 992px) {
        width: 130px;
        height: 180px;
        padding: 20px;
        left: 58%;
        top: 63%;
      }
      overflow-wrap: break-word;
      overflow: visible;
      background: #fff;
      display: flex;
      width: 280px;
      height: 280px;
      left: 9%;
      top: 20%;
      padding: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
      position: relative;
      .triangle {
        @media (max-width: 992px) {
          border-color: transparent #ffffff transparent transparent;
          border-width: 25px;
          top: 40%;
          left: -30%;
        }
        position: absolute;
        border-color: #ffffff transparent transparent transparent;
        border-style: solid solid solid solid;
        border-width: 30px;
        bottom: -50px;
        right: 20%;
        height: 0px;
        width: 0px;
      }
      .talk {
        @media (max-width: 992px) {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.3rem;
        }
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  // 遊戲頁設定
  .game-main {
    @media (max-width: 992px) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: row;
    // gap: 100px;
    position: relative;
    // 左側計數
    .time-table {
      @media (max-width: 992px) {
        gap: 0px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: initial;
        padding: 10px 0px 10px 0px;
        background-color: #fff;
      }
      display: flex;
      height: 50%;
      width: 320px;
      padding: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-left: auto;
      margin-right: auto;
      background: rgba(255, 255, 255, 0.5);
      .level {
        @media (max-width: 992px) {
          font-size: 30px;
          font-weight: 700;
          width: 100%;
          border-bottom: 1px dotted $primary;
          text-align: center;
          padding-bottom: 10px;
        }
        color: $primary;
        font-size: 40px;
        font-weight: 700;
      }
      // 小版用的計分排版
      .table-bottom {
        @media (max-width: 992px) {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: start;
          justify-content: center;
          padding-top: 10px;
        }
        width: 100%;
      }
      .time-group {
        @media (max-width: 992px) {
          width: 100%;
          padding: 0;
          border-radius: 0px;
          box-shadow: none;
          background-color: transparent;
        }
        padding: 10px 0px 10px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap: 10px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
        .time-text {
          @media (max-width: 992px) {
            font-size: 20px;
            font-weight: 700;
          }
          color: #621b1b;
          font-size: 30px;
          font-weight: 700;
        }
        .game-seconds {
          @media (max-width: 992px) {
            font-size: 28px;
            font-weight: 700;
          }
          color: $primary;
          font-size: 40px;
          font-weight: 700;
          line-height: normal;
        }
      }
      .point-group {
        @media (max-width: 992px) {
          margin-top: 0;
        }
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        // flex-shrink: 0;
        .point-text {
          @media (max-width: 992px) {
            font-size: 20px;
            font-weight: 700;
          }
          color: #621b1b;
          font-size: 26px;
          font-weight: 700;
        }
        .game-point {
          @media (max-width: 992px) {
            font-size: 28px;
            font-weight: 700;
          }
          color: $primary;
          font-size: 40px;
          font-weight: 700;
        }
      }
    }
    // 遊戲欄
    .play-div {
      @media (max-width: 992px) {
        //  background-image: url(/images/game/game-bgc2-min.png);
        background-image: url(/images/game/game-main-min.png);
        height: 100%;
        width: 100%;
        border-radius: 0px;
        border: none;
        padding: 155px 10px 80px 10px;
      }
      // background-image: url(/images/game/game-bgc2.png);
      background-image: url(/images/game/game-main.png);
      background-size: cover;
      background-position-y: bottom;
      display: flex;
      width: 1100px;
      height: 700px;
      padding: 30px 20px 80px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: #fff;
      border-radius: 70px;
      border: 5px solid var(--primary, #a32c2d);
      .balloon-play {
        width: 100%;
        height: 100%;
        overflow: hidden;
        // 圈出氣球出現的範圍用
        // border: #621b1b 1px solid;
        .balloon-obj {
          @media (max-width: 992px) {
            width: 60px;
          }
          width: 100px;
          display: none;
        }
      }
    }
  }
}
//彈窗
.game-card {
  .modal {
    @media (max-width: 992px) {
      width: 100%;
    }
    --bs-modal-width: 400px;
  }
  .modal-header {
    @media (max-width: 992px) {
      padding: 10px;
    }
    border-bottom: none;
  }

  .modal-dialog {
    @media (min-width: 576px) {
      margin-right: 0px;
      margin-left: 53%;
      margin-top: 15%;
      overflow: visible;
    }
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 25%;
    overflow: visible;

  }

  .btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a32c2d'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 1;
  }
  .modal-body {
    @media (max-width: 992px) {
      gap: 25px;
      padding-bottom: 40px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
    gap: 35px;

    .level-text {
      @media (max-width: 992px) {
        font-size: 18px;
        font-weight: 700;
      }
      font-size: 28px;
      font-weight: 700;
    }
    .rule-group {
      @media (max-width: 992px) {
        font-size: 20px;
        font-weight: 700;
      }
      color: $primary;
      font-size: 28px;
      font-weight: 700;
    }
    .fa-success {
      @media (max-width: 992px) {
        display: none;
      }
      font-size: 100px;
      color: $success;
    }
    .fa-fail {
      @media (max-width: 992px) {
        display: none;
      }
      font-size: 100px;
      color: $danger;
    }
    .buttons {
      @media (max-width: 992px) {
        flex-direction: column;
        width: 180px;
        align-self: stretch;
        margin: auto;
      }
      display: flex;
      flex-direction: row;
      gap: 17px;
    }
  }
}

// .btn.recordBtn {
//   font-size: 14px;
//   padding: 5px 10px;
// }
// .qrcodeCurrentBackdrop {
//   min-height: 400px;
//   color: rgb(163, 44, 45);
//   font-weight: bold;
// }
// .qrcodeCurrentIcon {
//   width: 30%;
//   height: 30%;
//   color: rgb(116, 255, 125);
// }
// .qrcodeCloseIcon {
//   font-size: 30px;
//   color: rgb(163, 44, 45);
// }
// .qrcodeCurrentBackdrop .qrcode-header {
//   display: flex;
//   justify-content: end;
//   align-items: center;
//   font-size: 30px;
//   color: rgb(163, 44, 45);
// }
// .btn-close {
//   color: rgb(163, 44, 45);
// }
// .qrcodeCurrentBackdrop .body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   font-weight: bold;
// }
// .progressParmary {
//   font-weight: bold;
//   background-color: rgb(173, 173, 173);
//   color: #a32c2d;
// }

// .progressParmary.active {
//   font-weight: bold;
//   background-color: #a32c2d;
//   color: rgb(255, 255, 255);
// }
// .numbericon {
//   background-color: rgb(196, 195, 195);
//   margin: 0 2px;
//   padding: 5px;
// }
// .text-sm {
//   font-size: 12px !important;
//   padding: 0px !important;
// }

// google Noto Sans TC 字體
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap';

@import 'https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap';

// 定義中文字體用
body {
  font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans TC Regular',
    'Kaisei Tokumin', Helvetica, Arial, 'PingFang TC', '苹方-繁', 'Heiti TC',
    '黑體-繁', 'Microsoft JhengHei',
    '微軟正黑體'
      // // Cross-platform generic font family (default user interface font)
    // system-ui,
    // // Safari for macOS and iOS (San Francisco)
    // -apple-system,
    // // Windows
    // 'Segoe UI',
    // // Android
    // Roboto,
    // // Basic web fallback
    // 'Helvetica Neue',
    // Arial,
    // // Linux
    // 'Noto Sans',
    // 'Liberation Sans',
    // // Sans serif fallback
    // sans-serif,
    // // Emoji fonts
    // 'Apple Color Emoji',
    // 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
;
}
