$black: #070505;
$primary: rgb(163, 44, 45);
$secondary: rgb(225, 209, 178);
$success: rgb(41, 162, 30);
$warning: rgb(255, 201, 64);
$danger: rgb(255, 1, 1);
$light-primary: rgb(234, 105, 106);
$deep-primary: rgb(98, 27, 27);
$deep-gray: rgb(183, 180, 177);
$gray: rgb(229, 225, 221);

@import '~bootstrap/scss/bootstrap';

// Search Bar的設定
.kv,
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .search-item {
    // 切頁設定
    .nav {
      text-align: center;
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-link {
        @media (max-width: 992px) {
          font-size: 12px;
          width: 100px;
          font-weight: 500;
          padding: 5px 10px;
        }
        background-color: #fff;
        border: 2px solid $primary;
        border-bottom: 1px solid $primary;
        border-radius: 10px 10px 0px 0px;
        font-size: 16px;
        font-weight: 500;
        width: 140px;
        padding: 10px 20px;
      }
      .nav-link.active {
        @media (max-width: 992px) {
          font-size: 12px;
          width: 100px;
          font-weight: 500;
          padding: 5px 10px;
        }
        background-color: $primary;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
  .search-bar {
    @media (max-width: 992px) {
      width: 100%;
      padding: 5px;
    }
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
    border: 2px solid $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    .form-control {
      padding: 6px 12px;
    }
    button {
      @media (max-width: 992px) {
        width: 50%;
        font-size: 14px;
        padding: 5px;
        font-weight: 500;
      }
      font-size: 16px;
      font-weight: 500;
    }
    form {
      width: 100%;
      align-items: center;
      input {
        border: none;
      }
      :focus {
        border: none;
        box-shadow: none;
      }
    }
    .search-icon {
      @media (max-width: 992px) {
        padding-right: 10px;
      }
      padding-right: 40px;
      padding-left: 10px;
    }
  }
  .fa-sistrix {
    color: $primary;
    font-size: 25px;
  }
}

// 主視覺
.kv {
  .kv-title {
    @media (max-width: 992px) {
      font-size: 18px;
      text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0px #fff,
        1px -1px 0px #fff, -50px 0px 30px #fff, 0px 0px 30px #fff,
        50px 0px 30px #fff;
    }
    color: $primary;
    padding-top: 30px;
    text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0px #fff,
      1px -1px 0px #fff, -80px 0px 50px #fff, 0px 0px 50px #fff,
      80px 0px 50px #fff;
    // -webkit-text-stroke-width: 0.5px;
    // -webkit-text-stroke-color: #fff;
    font-size: 44px;
    font-weight: 700;
  }
  .card-publicity-group {
    @media (max-width: 992px) {
      display: none;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .card-publicity {
      display: flex;
      padding: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      background-color: #fff;
      border-radius: 15px;
      .publicity {
        color: $primary;
        font-size: 16px;
        font-weight: 800;
      }
      .publicity-big {
        color: $primary;
        font-size: 44px;
        font-weight: 800;
      }
    }
  }
}

.section-index {
  position: relative;
  .index-title {
    @media (max-width: 992px) {
      font-size: 12px;
      width: 120px;
      padding: 5px 0px;
      top: -20px;
    }
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    color: #fff;
    padding: 15px 0px;
    width: 200px;
    text-align: center;
    background-color: $primary;
    border-radius: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
  }
  // 最新消息
  .slide-container {
    overflow: visible;
    .slide-group {
      @media (max-width: 992px) {
        height: 50vh;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 50px 50px 0px 0px;
      .slide-item {
        @media (max-width: 992px) {
          height: 145px;
          width: 180px;
          border-radius: 20px;
          top: 5vh;
        }
        // background-color: #e9e7e7;
        overflow: hidden;
        height: 50%;
        width: 40%;
        border-radius: 80px;
        position: absolute;
        top: 15vh;
        // 從圖片開始設定圖片與文字
        .discount-img {
          @media (max-width: 992px) {
            border-radius: 20px;
          }
          border-radius: 80px;
          width: 100%;
          height: 100%;
          position: relative;
        }
        .discount-text {
          @media (max-width: 992px) {
            left: 10px;
            bottom: 10px;
          }
          color: #fff;
          position: absolute;
          font-weight: 700;
          left: 30px;
          bottom: 30px;
          text-shadow: 0px 0px 15px $black;
        }
        .discount-store {
          @media (max-width: 992px) {
            font-size: 12px;
            bottom: 35px;
          }
          font-size: 28px;
          bottom: 85px;
        }
        .discount-name {
          @media (max-width: 992px) {
            font-size: 18px;
          }
          font-size: 40px;
        }
      }
      .slide-item:first-child {
        @media (max-width: 992px) {
          left: -80px;
          top: 7vh;
          height: 120px;
          width: 145px;
        }
        position: absolute;
        left: -250px;
        top: 50vh;
      }
      .slide-item:last-child {
        @media (max-width: 992px) {
          right: -80px;
          top: 7vh;
          height: 120px;
          width: 145px;
        }
        position: absolute;
        top: -150px;
        right: -250px;
      }
    }
  }

  //店家
  .store-index-gruop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    .pre-arrow {
      @media (max-width: 992px) {
        display: none;
      }
      position: absolute;
      margin-top: 60px;
      left: -50px;
    }
    .next-arrow {
      @media (max-width: 992px) {
        display: none;
      }
      position: absolute;
      margin-top: 60px;

      right: -50px;
    }
    .fa-arrow:hover {
      background-color: rgba(199, 186, 159, 0.5);
      cursor: pointer;
      color: $primary;
    }
    .card-store-index-group {
      @media (max-width: 992px) {
        gap: 3px;
      }
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 2%;
      .card-store-index:last-child {
        @media (max-width: 992px) {
          display: none;
        }
      }
      .card-store-index {
        @media (max-width: 992px) {
          width: 150px;
          height: 200px;
        }
        background-color: #b6b6b6;
        width: 100%;
        height: 480px;
        padding: 60px 10px 20px 10px;
        border-radius: 200px 200px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .store-name {
          @media (max-width: 992px) {
            font-size: 14px;
          }
          color: $primary;
          font-size: 34px;
          font-weight: 700;
          text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff;
        }
        .store-market {
          @media (max-width: 992px) {
            font-size: 12px;
            padding-bottom: 20px;
          }
          color: $primary;
          font-size: 28px;
          font-weight: 700;
          text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff;
          padding-bottom: 35px;
        }
        .btn {
          @media (max-width: 992px) {
            font-size: 10px;
            padding: 4px 12px;
          }
        }
      }
    }
  }
  //商品
  .product-index-gruop {
    @media (max-width: 992px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    .pre-arrow {
      @media (max-width: 992px) {
        display: none;
      }
      position: absolute;
      margin-top: 60px;
      left: -50px;
    }
    .next-arrow {
      @media (max-width: 992px) {
        display: none;
      }
      position: absolute;
      margin-top: 60px;
      right: -50px;
    }
    .fa-arrow:hover {
      background-color: rgba(199, 186, 159, 0.5);
      cursor: pointer;
      color: $primary;
    }
    .card-product-index-group {
      @media (max-width: 992px) {
        gap: 3px;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 10px;
      // .card-product-index:last-child {
      //   @media (max-width: 992px) {
      //     display: none;
      //   }
      // }
      .card-product-index {
        @media (max-width: 992px) {
          width: 150px;
          height: 200px;
          padding: 0;
          gap: 12px;
        }
        width: 100%;
        align-self: stretch;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 20px;

        .product-top {
          @media (max-width: 992px) {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 8px;
          }
          width: 100%;
        }
        .product-title {
          @media (max-width: 992px) {
            gap: 4px;
            margin-bottom: 4px;
          }
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: start;
        }
        .product-name {
          @media (max-width: 992px) {
            padding: 2px 20px 2px 8px;
            font-size: 10px;
            font-weight: 500;
          }
          background-color: $primary;
          font-size: 16px;
          color: #fff;
          font-weight: 500;
          padding: 4px 38px 4px 12px;
        }
        .product-img {
          @media (max-width: 992px) {
            height: 100px;
            width: 100px;
          }
          height: 350px;
          width: 350px;
          border-radius: 500px;
          background-color: #bababa;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          .btn.btn-light {
            display: none;
          }
        }
        :hover {
          .btn.btn-light {
            display: block;
          }
        }
        .product-text {
          @media (max-width: 992px) {
            font-size: 12px;
            flex-direction: column;
            align-items: start;
          }
          display: flex;
          flex-direction: row;
          font-size: 16px;
          font-weight: 500;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          .btn.btn-primary {
            @media (max-width: 992px) {
              padding: 6px;
            }
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .cart-text {
            @media (max-width: 992px) {
              display: none;
            }
            padding-right: 5px;
          }
          .fa-cart {
            @media (max-width: 992px) {
              font-size: 12px;
            }
          }
          .butinput {
            @media (max-width: 992px) {
              width: 100%;
              gap: 0;
              align-items: center;
              justify-content: space-between;
            }
            display: flex;
            flex-direction: row;
            gap: 20px;
          }
          .price {
            @media (max-width: 992px) {
              font-size: 16px;
              font-weight: 500;
            }
            font-size: 30px;
            color: $primary;
            font-weight: 500;
          }
          .quantity {
            display: flex;
            flex-direction: row;
            gap: 1px;
            button {
              @media (max-width: 992px) {
                height: 20px;
                width: 20px;
              }
              height: 37px;
              width: 37px;
              border: none;
              background-color: #fff;
              color: $primary;
            }
            input {
              @media (max-width: 992px) {
                height: 20px;
                width: 20px;
              }
              height: 37px;
              width: 37px;
              font-size: 16px;
              font-weight: 500;
              color: $primary;
              border: none;
              text-align: center;
              background-color: #fff;
            }
            :focus {
              border: none;
            }
          }
        }
      }
    }
  }

  // 關於我們
  .qr-text {
    @media (max-width: 992px) {
      flex-direction: column;
    }
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;

    .qr-video {
      iframe {
        @media (max-width: 992px) {
          height: 120%;
          border-radius: 20px;
        }
        border-radius: 40px;
        width: 100%;
      }
    }
    .qr-about {
      @media (max-width: 992px) {
        padding: 30px;
        background-color: rgba(255, 255, 255, 50%);
        border-radius: 20px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.24);
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 90px;
      padding-right: 20px;
      .accordion {
        width: 100%;
        --bs-accordion-bg: transparent;
        --bs-accordion-border-color: transparent;
        .accordion-item {
          .accordion-word {
            font-size: 16px;
          }
          .accordion-body {
            .accordion-word {
              @media (max-width: 992px) {
                font-size: 12px;
              }
              font-size: 16px;
            }
          }
        }
        .accordion-button:not(.collapsed) {
          background-color: transparent;
        }
        .accordion-button {
          @media (max-width: 992px) {
            border-bottom: none;
            padding-bottom: 5px;
          }
          display: flex;
          flex-direction: row-reverse;
          justify-content: start;
          gap: 10px;
          border-bottom: 1px dashed $black;
        }
        :focus {
          box-shadow: none;
        }
        .accordion-button::after {
          margin: 0;
          justify-self: start;
        }
        .accordion-body {
          @media (max-width: 992px) {
            border-bottom: 1px dashed $black;
            padding-top: 0px;
          }
          text-indent: 2em;
        }
      }
    }
  }
}
