/* 產品列表頁 */
.center{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.container {
    width: var(--container-width, 1742px);
    height: var(--container-height, 3000px);
    /* background-color: var(--container-color, #D2B48C); */
  }

  /* 產品分類:外層容器 */
  .categoryContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  /* 產品分類:圖片設定 */
  .categoryImage { 
     margin-left: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    
  }

  /* 產品分類:圖片大小 */
  .categoryImage img { 
    border-radius: 40px;
  }

 

  /* 人氣商品:外層容器 */
  .popularContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between; 
  }



  /* 人氣商品:圖片 文字設定 */
  .popularProduct { 
    margin-left:  50px;
   font-weight: bolder;
    color:rgb(0, 0, 0) ;
  }

   /* .popularImage{
    width: 100%;
    max-width: 345px;
    height: auto;
     margin-left: 20px; 
  }  */

 

  @media (max-width: 350px) {
    .popularImage {
      width: 100%;
    }
    
  }

  
  @media (max-width: 576px) {
    .popularImage {
      width: 100%; /* 图片宽度为父容器宽度的 50% */
    }
  }

  @media (max-width: 768px) {
    .popularImage {
      width: 100%; /* 图片宽度为父容器宽度的 50% */
    }
  }

  
  @media (max-width: 992px) {
    .popularImage {
      width: 100%; /* 图片宽度为父容器宽度的 50% */
    }
  }

  /* .image{
    flex: 1;
    max-width: calc((100% - 10px) / 4); 
    margin-right: 20px; 
  }

  .image:last-child {
    margin-right: 0;
  } */

  .popularProduct > p {
    font-weight: bolder;
    color:rgb(0, 0, 0) ;
  }

  .popularInfo {
   
    display: flex;
     align-items: center; 
  }

 


  .recommendContainer{
    margin-top: 100px;
    margin-right: 500px;
    display: flex;
    justify-content: left;
    font-weight: bolder;
   
  }

  .recommendTitle{
    margin-left: 60px;
    font-size: 30px;
    color:rgb(163, 44, 45);
    font-weight: bolder;
  }

  .recommendProduct{
    font-weight: bolder;
    font-size: 20px;
  }


  .recommendName{
    margin-top: 4px;
    margin-left: 2px;
    font-weight: bolder;
    font-size: 28px;
  }

  .productScore{
    width: 53px;
    height: 54px;
    margin-top: 8px;
    margin-left: 100px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #E5E1DD;
    border-radius: 50%;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
  }

  /* '產品篩選'彈窗 */
  .filterTitle{
    margin-top: 20px;
    margin-left: 31px;
     font-size: 20px;
     font-weight: bolder;

  }

  .filterCircle{
    width: 16px;
    height: 16px;
    color: #fff;
    border:solid 4px #A32C2D;
    border-radius: 10px;
  }

  .filterText{
    font-size: 16px;
    font-weight: bolder;
  }

  .wbButton{
    color: #A32C2D;
    background-color: #fff;
    font-weight: bolder;
    border:solid 2px #A32C2D;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
  }

 .rbButton{
  color: #fff;
  background-color: #A32C2D;
  font-weight: bolder;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  border: none;
 }

 .bbButton{
  color: #fff;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  border: none;
 }

 .gbButton{
  width: 37px;
  height: 37px;
  text-align: center;
  margin-left: 1px;
  background-color: #E5E1DD;
  border: none;
 }

 .discountInformation{
  width: 319px;
  height: 314px;
  border-radius: 20px;

 }